{% extends 'base.html'%}

{% block title%} Login {% endblock%}

{%block content%}
<!-- bootstrap Signin example theme -->
<style type="text/css">
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }      
</style>


<form class="form-signin" method="post">
    {% csrf_token %}
    <div class="column">
      <img class ="mx-auto d-block" src="/static/images/logo.png" alt="image"/>
    </div>

    <h1 class="h3 mb-3 fw-normal">Log in</h1>

    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        {% for field in login_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color: darkred;"> {{error}}</p>
                {% endfor %}
            </p>  
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color: brown;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
        {% endif %}

    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
  </form>


{%endblock content%}