{% extends 'base.html'%}


{%block content%}

<div class="container">
    <div class="row">
        <div class="card">
            <a href="{% url 'destination:description' post.slug %}">
                <img class="card-img-top" src="{{campsites.image.url}}">
            </a>

            <div class="card">
                <a href="{% url 'destination:description' post.slug %}">
                    <h2 class="card-title">{{campsites.title}}</h2>
                </a>

                <p class="card-text">{{campsites.body|safe|truncatechars:180}}</p>
            </div>
        </div>
    </div>

</div>



{% endblock content%}