{% extends 'base.html'%}

{% block title%} Home {% endblock%}

{%block content%}


<style type="text/css">
    @media(max-width: 768px){
        .right-column{
            margin-left: 0px;
        }
    }

    @media(min-width: 768px){
        .right-column{
            margin-left: 20px;
        }
    }

    .destination-container{
        background-color: #fff;
        margin-top: 20px;
        width: 100%;
    }

    .create-dest{
        background-color: #fff;
        margin-top: 20px;
    }

    .left-column{
        padding: 0px;
    }

    .right-column{
        padding: 0px;
    }




</style>


    <div class="container">
        <div class="row">
             <!-- thats the bar on the right hand side -->
             <div class="create-dest d-lg-none col-lg-7 offset-lg-1">
                 <!-- we using type of naming for url is becoj we created a secondary url file in this app -->
                <a href="{% url 'destination:create' %}">Create destination</a>
            </div>

            <!-- main container which will display the destinations -->
            <div class="left-column col-lg-7 offset-lg-1">
                <div class="destination-container">
                    <p>Thing</p>
                </div>

                <div class="destination-container">
                    <p>Thing</p>
                </div>

                <div class="destination-container">
                    <p>Thing</p>
                </div>

            </div>

            <!-- this will be on the right hand side where any user can easily create any new destination if they wish -->
            <div class="right-column col-lg-3 d-lg-flex d-none flex-column">
                <div class="create-dest">
                    <p>bla</p>
                    <p>bla</p>
                    <p>bla</p>
                    <p>bla</p>
                    <!-- we using type of naming for url is becoj we created a secondary url file in this app -->
                    <a href="{% url 'destination:create' %}">Create destination</a>
                </div>
            </div>

           
        </div>

    </div>
{%endblock content%}
