{% extends 'base.html'%}

{% block title%} Home {% endblock%}

{%block content%}

<div class="container">
    <div class="column">
        <img src="/static/images/beach1.jpg" alt="image"/>
    </div>
    <p></p>
    <div class="row">
            <div class="col-20 col-md-50 about_text animate__animated animate__fadeIn animate__slower">
                <h2>What Campers should know about Camping in Ireland</h2>
                <h2>Keep to the Left</h2>
                <p>
                    Depending on where you coming from, driving on the left side of the road might be an adjustment for everyone, and you will get in no time!
                    Just remember to overtake on the right, drive in left lane and go clockwise.
                </p>
                
                <h2>Don't Park on Yellow</h2>
                <p>
                    When you see a yellow line on the side of the road, know that it means no parking.
                </p>

                <h2>Get an Adaptor</h2>
                <p>
                    Irish Electricity runs at 220V, but all of them use British Plugs so make sure you have the right adaptor for your devices.
                </p>

                <p></p>
                
            </div> 
    </div>


</div>

{%endblock content%}
